build/
dist/
out/
截图工具-绿色版/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.idb
*.lib
*.exp
*.user
*.suo
*.sdf
*.opensdf
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.tmp
*.log
截图工具.ini
.workbuddy/
截图工具需求说明书1.0.docx
work/
